.site-button {
    padding: 10px 32px;
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;

    color: var(--main-white);
    background: var(--accent-blue-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    transition: background-color var(--transition-dur-and-func);
    &:hover,
    &:focus {
        background: var(--blue-color);

    }
}

