:root {
    --primary-text-color: #757575;
    --accent-color: #212121;
    --accent-blue-color: #2196F3;
    --blue-color: #188CE8;
    --accent-bg-color: #F5F4FA;
    --title-bg-color: #2F303A;
    --main-white: #ffffff;
    --black-logo: #000000;
    --social-logo: #AFB1B8;
    --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}